# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
terraform-provider-trell

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Terraform files
.terraform/
*.tf
crash.log
set_env.sh
terraform.tfstate
terraform.tfstate.backup
